<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<section>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="formbox">
        <%= form_for(@user) do |f| %>
          <%= render 'fields', f: f %>
          <%= f.submit "Save changes", class: "btn btn-primary" %>
        <% end %>
        <div class="gravatar_edit">
          <%= gravatar_for @user %>
          <a href="http://gravatar.com/emails" target=_blank>change</a>
        </div>
      </div>
    </div>
  </div>
</section>